---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import AddTeamReact from '../components/AddTeam.jsx';
---
<Layout title="Welcome to Astro.">
    <h2 class="text-2xl font-bold text-center text-blue-800 uppercase">Listado de equipos por liga</h2>
    <SectionContainer id="create-team">
        <AddTeamReact client:load/>
    </SectionContainer>
</Layout>
