---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import GetTeamsReact from '../components/GetTeams.jsx';
import AddIcon from '../components/icons/Add.astro';
import Button from '../components/Button.astro';
---
<Layout title="Astro Football">
    <h2 class="text-2xl font-extrabold text-center text-gray-800 uppercase my-4 tracking-wide">
        Listado de equipos por liga
      </h2>
    <SectionContainer id="get-teams">
        <Button href="create-team" bgColor="hover:bg-green-600/10" borderColor="border-green-400">
            <AddIcon class="size-5"/>
            Agregar Equipo
        </Button>  
        <GetTeamsReact client:load/>
    </SectionContainer>
</Layout>
