---
import AddIcon from './icons/Add.astro';
import Button from './Button.astro';
---

<header class="mx-auto max-w-5xl relative py-3 px-12">
    <div class="container mx-auto flex justify-between items-center">
      <a href="/" class="text-blue-800 text-3xl font-bold">JimcostDev Football</a> 
        <Button href="create-team" bgColor="hover:bg-green-600/10" borderColor="border-green-400">
            <AddIcon class="size-5"/>
            Agregar Equipo
        </Button>    
      </a>
    </div>
  </header>
  